###################
# compiled source #
###################
*.class

###############
# Directories #
###############
bin/
TestResults/
obj/
target/
settings/

############
# Packages #
############
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

######################
# Logs and databases #
######################
*.log
hs_err_pid*

######################
# STS and Eclipse #
######################
.project
.classpath
